<phpunit colors="true" testdox="true">
    <testsuites>
        <testsuite name="Unidade">
            <directory>testes/Unidade</directory>
        </testsuite>
        <testsuite name="Integracao">
            <directory>testes/Integracao</directory>
        </testsuite>
    </testsuites>
</phpunit>